<nav id="menu">
  <div class="menu-item">
    <div class="menu-text">
      <a href="/index">Home</a>
    </div>
  </div>
  <div class="menu-item">
    <div class="menu-text">
      <a href="/login">Login</a>
    </div>
  </div>
  <div class="menu-item">
    <div class="menu-text">
      <a href="/register">Register</a>
    </div>
  </div>
</nav>