<html lang="en">
  <head>
    {{>header}}
    <title>Home</title>
  </head>
  <body>
    {{>navbar}}
    <h1 class="menu_white">Login Authentication</h1>
    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td> 
      <td>Otto</td>
      <td>@mdo</td>
      <td class="padd-flex">
        <a class="padd" href="#">Edit</a>
        <a class="padd" href="#">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
    {{>footer}}
  </body>
</html>